<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/voice-elements/dist/voice-player.html">
<link rel="import" href="../bower_components/voice-elements/dist/voice-recognition.html">


<dom-module id="transfer-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        width: 100%;
      }

      .form {
        max-width: 600px;
        background-color: var(--white);
        border-radius: 5px;
        padding: 20px;
        margin: 0 auto;
      }

      select {
        width: 100%;
        font-size: 18px;
        background: #fff;
        padding: 8px;
        border: 1px solid #ccc;
        color: rgb(58, 58, 58);
        margin-bottom: 20px;
        display: block;
      }

      .amount {
        display: block;
        font-size: 18px;
        background: var(--white);
        border: 1px solid #ccc;
        border-radius: 5px;
        color: rgb(58, 58, 58);
        width: 100%;
        padding: 8px 0 8px 0;
      }

      .btn {
        background: var(--primary);
        color: var(--white);
        font-size: 18px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        display: block;
        margin-top: 20px;
      }
    </style>

    <div class="container">
      <div class="form">
        <!-- <voice-player id="wavoice" accent="es-ES" text="Por favor, dime la cuenta de retiro"></voice-player> -->

        <voice-player id="wavoice" accent="es-MX" text="Por favor, dime la cuenta de retiro"></voice-player>

        <label for="wa">Cuenta de retiro</label>
        <voice-recognition id="warecognise" accent="es-MX"></voice-recognition>
        <select id="retir" name="wa" value="{{transaction.wa::change}}">
          <option>Seleccione una cuenta</option>
          <template is="dom-repeat" items="{{was}}">
            <option data$="{{index}}" value$="{{item}}">{{item.account}}</option>
          </template>
        </select>
        <label for="da">Cuenta de deposito</label>
        <select name="da" value="{{transaction.da::change}}">
          <option>Seleccione una cuenta</option>
          <template is="dom-repeat" items="{{das}}">
            <option value$="{{item}}">{{item.account}}</option>
          </template>
        </select>
        <label for="wa">Monto</label>
        <input class="amount" type="number" value="{{transaction.amount::change}}">
        <button class="btn" on-click="selected">Transferir</button>
      </div>
    </div>

  </template>

  <script>
    class TransferComponent extends Polymer.Element {
      static get is() { return 'transfer-component'; }
      static get properties() {
        return {
          was: {
            type: Object,
            observer: '_dataset'
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this.$.wavoice.speak();
      }

      _dataset(value) {
        if (value) {
          let c = 1;
          var numseparate = '';
          this.get('was').forEach(a => {
            setTimeout(() => {
              numseparate = '';
              var num = a.account;
              var separate = '';
              num = num.split(separate);
              num.forEach(n => {
                numseparate += n + '-';
              });
              this.$.wavoice.text = "Cuenta numero " + c + ", " + numseparate + ".";
              this.$.wavoice.speak();
              c++;
            }, 5000);
          });
          this.$.warecognise.recognition.start();
          this.$.warecognise.addEventListener('result', function (e) {
            var numphraze;
            var l = 0;
            var recogni = e.detail.result;
            recogni = recogni.split('');
            var arrayRecognise = '';
            console.log(recogni);
            recogni.forEach(r => {
              if (isNaN(r)) {
              } else {
                numphraze = r;
                numphraze = numphraze - 1;
                console.log(numphraze);
              }
            });
          });
        }
      }

      selected() {
        this.dispatchEvent(new CustomEvent('handle'));
      }
    }

    window.customElements.define(TransferComponent.is, TransferComponent);
  </script>
</dom-module>