<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="transfer-component">
  <template>
    <style>
      :host {
        display: block;
      }

      select {
        width: 100%;
        font-size: 18px;
        background: #fff;
        padding: 8px;
        border: 1px solid #ccc;
        color: rgb(58, 58, 58);
        margin-bottom: 20px;
        display: block;
      }

      .amount {
        display: block;
        font-size: 18px;
        background: #fff;
        border: 1px solid #ccc;
        color: rgb(58, 58, 58);
        width: 100%;
        padding: 8px 0 8px 0;
      }

      .btn {
        background: #ccc;
        color: #000;
        font-size: 18px;
        padding: 8px;
        border: 1px solid #ccc;
        width: 100%;
        display: block;
        margin-top: 20px;
      }
    </style>
    <label for="wa">Cuenta de retiro</label>
    <select name="wa" value="{{transaction.wa::change}}">
      <option>Seleccione una cuenta</option>
      <template is="dom-repeat" items="{{was}}">
        <option value$="{{item}}">{{item.account}}</option>
      </template>
    </select>
    <label for="da">Cuenta de deposito</label>
    <select name="da" value="{{transaction.da::change}}">
      <option>Seleccione una cuenta</option>
      <template is="dom-repeat" items="{{das}}">
        <option value$="{{item}}">{{item.account}}</option>
      </template>
    </select>
    <label for="wa">Monto</label>
    <input class="amount" type="number" value="{{transaction.amount::change}}">
    <button class="btn" on-click="selected">Transferir</button>
  </template>

  <script>
    class TransferComponent extends Polymer.Element {
      static get is() { return 'transfer-component'; }
      selected() {
        this.dispatchEvent(new CustomEvent('handle'));
      }


    }

    window.customElements.define(TransferComponent.is, TransferComponent);
  </script>
</dom-module>