<div class="module">
  <div class="title">
    <h1>Banca movil</h1>
  </div>
  <div class="content">
    <h1>Transferencia de cuenta a cuenta</h1>
    
    <transfer-component></transfer-component>
    <form-login></form-login>
    <firebase-app 
      name="notes" 
      api-key="AIzaSyBHlW8LbK1dCtkm9hAQygivfZIYo_ahG8I"
      auth-domain="biogadgets-175418.firebaseapp.com"
      database-url="https://biogadgets-175418.firebaseio.com">
    </firebase-app>
    <transfer-component emitChanges (handle)="handleEvent()" [(transaction)]="transaction" [(was)]="was" [(das)]="das"></transfer-component>
  </div>
</div>